# Node modules
node_modules/
dist/
build/

# Env files (jangan sampai ke-upload)
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
*.log

# VSCode (opsional)
.vscode/